html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.pages {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.page {
    height: 100%;
    position: absolute;
    width: 100%;
}

.game {
    display: none;
}

.login.page {
    background-color: black;
    color: white;
}

.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    background: gray;
}

.navbar ul {
    border: 1px red solid;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 17px;
    border: 1px solid blue;
}

.navbar ul li:hover {
    background: lightgray;
}

.chat-area {
    display: none;
    padding: 10px 20px;
}

.input-container {
    display: flex;
}

.input-container input {
    width: 100%;

}

.send-message {
    display: block;
    background: gray;
    padding: 5px;
}

.send-message:hover {
    background: lightgray;
}