

html, body {
    font-family: 'helvetica';
    font-size: 12pt;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    --main-color: #388E3C;
    --bg-color: #81C784;
    --dice-color: #FFF8E1;
    --dice-divet-color: #C62828;
}

body {
    display: flex;
    flex-flow: column;
}

.overlay {
    display: none;
}

ul {
    list-style: none;
    word-wrap: break-word;
    padding: 0;
    margin: 0;
}

.header-container {
    display: flex;
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--main-color);
}

.game-title {
    width: 100%;
    color: white;
    box-sizing: border-box;
    display: flex;
    padding-left: 5%;
    align-items: center;
}

.game-title p {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.help-container {
    border: 4px solid #81D4FA;
    display: flex;
    margin: 5px;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    box-sizing: border-box;
    background-color: #0288D1;
    border-radius: 100%;
    cursor: pointer;
    flex-shrink: 0;
}

.help-container p {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    color: white;
}

.game {
    width: 100%;
    height: 100%;
}

.game-lobby {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    padding: 30px 0;
    border: 1px solid;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.player-list-container {
    width: 50%;
    min-width: 250px;
    max-width: 350px;
    max-height: 400px;
    overflow-y: auto;
    border: 2px solid blue;
    box-sizing: border-box;
}

.lobby-player-container {
    display: flex;
    width: 100%;
    padding: 10px 10px;
    justify-content: space-between;
    flex-direction: row;
    border: 1px solid red;
    box-sizing: border-box;
}

.lobby-username {
    font-size: 0.85rem;
    font-weight: 600;
}

.lobby-status {
    font-size: 0.85rem;
}

.ready-button {
    background-color: var(--dice-divet-color);
    padding: 15px;
    border-radius: 5%;
}

.ready-button p {
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.75rem;
    font-weight: 400;
}

.game-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: space-between;
    background-color: var(--bg-color);
}

.login-form {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login {
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.login-header {
    margin: 0;
    padding-bottom: 10px;
    font-size: 32px;
}

.username-input {
    border: none;
    border-bottom: 3px solid white;
    background-color: black;
    color: white;
    padding: 12px;
    text-align: center;
    font-size: 26px;
    outline: none;
}

.navbar {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background: gray;
    display: none;
}

.tabs {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}

.tabs li {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navbar ul li:hover {
    background: lightgray;
}

.chat-area {
    display: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
    position: absolute;
    bottom: 50px;
    background-color: darkslategray;
}

.chat-container {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0 10%;
    flex-direction: column;
    border: 2px solid;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .chat-container {
        padding: 0 5%;
    }
}

.messages-container {
    width: 100%;
    height: 100%;
    border: 5px solid pink;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.messages {
    height: 100%;
    overflow-y: scroll;
    background-color: white;
    margin: 0 0 5px 0;
    padding: 0 5%;
}

.message {
    padding: 2px 0px;
}

.input-container {
    width: 100%;
    display: flex;
    flex-flow: row;
}

.chat-input {
    width: 100%;
    resize: none;
}

.username {
    font-weight: 600;
    padding-right: 0.25rem;
}

.message-body {
    color: black;
}